.header1 {
    height: 150px;
    width: 100%; 
    margin-bottom: 25px;
    background-image: url("../images/dori.JPG");
    background-size: cover;
    background-position: center;
    
  }

  .header1 h2 {
    float: right;
    background-color: aqua;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 55px 0px 0px 0px;
  }
  body {
    height: 100vh;
    
  }
  header img {
    
    border-radius: 50%;
    height: 150px;
    width: auto;
  }
.row {
  
  display: flex;
  flex-direction: row;
}

.aboutme p {
    margin: 25px 0 0 90px;
}
.row2 {
    margin:0 0 0 190px; 
    display: flex;
  flex-direction: row;
}

.row3 {
    display: flex;
    flex-direction: row;
  }
.row3 p {
    /* margin:0 0 0 10px; */
}
.details span {
margin: 0 0 0 50px;
text-decoration: underline;
 /* padding: 10px; */
 justify-content: space-between;
}
.details {
  display: inline;

    margin: 25px 0px 0px 70px;
    justify-content: space-between;
}
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  justify-content: center;
}
.portfolio a {
    margin:0 0 0 0px;
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: center;
    border: 10px turquoise;
    padding: 5px;
    /* justify-content: center; */
    /* Centers along the opposite axis */
    /* align-items: center; */
    /* width: 90%; */
    /* Uses the height of the viewport */
    height: 100vh;
    /* margin: 0 auto; */
    border-style: solid;
    border-width: 2px;
    
  }
  .portfolio .row a {
    margin: 0px 0px 0px 100px;
  }
  #site0 {
    
    display: flex;
    height: 400px;
    width: 100%;
    background-image: url("../images/IMG_3633.JPG");
  }
  #site1 {
    display: flex;
    height: 200px;
    width: 50%;
    background-image: url("../images/bullock2.jpg");
  }

  #site2 {
    display: flex;
    height: 200px;
    width: 50%;
    background-image: url("../images/IMG_3623.JPG");
  }

  #site3 {
    display: flex;
    height: 200px;
     width: 50%; 
    background-image: url("../images/IMG_3626.JPG");
  }

  #site4 {
    display: flex;
    height: 200px;
     width: 50%; 
    background-image: url("../images/IMG_3639.JPG");
  }
  .portfolio {
    position:relative;
  }
  .row .captions {
     position:absolute; 
    border:20px;
    background-color:aqua;
    
  }
#surfreport {
    left: 190px;
    top: 270px;
}
#ledwall {
    left: 190px;
    top: 470px;
}
#calculator {
    left: 740px;
    top: 470px;
}

#runbuddy {
   top: 700px;
    left: 740px;
    
}
#pastel {
  top: 700px;
  left: 190px;
  
}
  .row2 .captions {
    position:absolute; 
    left: 430px;
   border:20px;
   background-color:aqua;
   
 }


  /* Header section styling */

  header h1 {
    align-content: normal;
    display: inline-flex;
    position: absolute;
    left: 190px;
    font-size: 48px;
  }
h2 { 
  display: inline;
}

  h3 p {
    font-size: 11px;
  }
  header nav {
    padding-top: 1px;
    margin-right: 20px;
    float: right;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  .navbar {
    font-size: 24px;
    display: inline;
  }
  .sidepanel h2{
    margin: 0px 200px 0px 0px;
    display: inline;
    font-size:24px;
}