.header1 {
    height: 150px;
    width: 100%; 
    margin-bottom: 25px;
    background-image: url("../images/dori.JPG");
    background-size: cover;
    background-position: center;
    
  }
  body {
    height: 100vh;
    
  }
.row {
    display: flex;
  flex-direction: row;
}

.row p {
    /* margin:0 0 0 190px; */
}
.row2 {
    /* margin:0 0 0 90px;  */
    display: flex;
  flex-direction: row;
}

.row3 {
    display: flex;
    flex-direction: row;
  }
.row3 p {
    /* margin:0 0 0 10px; */
}
.row3 span {
/* margin: 0 0 0 100px; */
 padding: 10px;
}
.details {
    margin: 25px 0px 0px 70px;
}
.portfolio a {
    margin:0 0 0 200px;
    height: 200px;
    display: flex;
    background-size: cover;
    background-position: center;
    border: 10px turquoise;
    padding: 5px;
    /* justify-content: center; */
    /* Centers along the opposite axis */
    /* align-items: center; */
    /* width: 90%; */
    /* Uses the height of the viewport */
    height: 100vh;
    /* margin: 0 auto; */
    border-style: solid;
    border-width: 2px;
    
  }
  #site0 {
    display: flex;
    height: 200px;
    width: 100%;
    background-image: url("../images/IMG_3633.JPG");
  }
  #site1 {
    display: flex;
    height: 200px;
    width: 50%;
    background-image: url("../images/bullock2.jpg");
  }

  #site2 {
    display: flex;
    height: 200px;
    width: 50%;
    background-image: url("../images/IMG_3623.JPG");
  }

  #site3 {
    display: flex;
    height: 200px;
     width: 50%; 
    background-image: url("../images/IMG_3626.JPG");
  }

  #site4 {
    display: flex;
    height: 200px;
     width: 50%; 
    background-image: url("../images/IMG_3639.JPG");
  }
  .portfolio {
    position:relative;
  }
  .row .captions {
     position:absolute; 
    border:20px;
    background-color:aqua;
    
  }
#surfreport {
    left: 430px;
    top: 70px;
}
#ledwall {
    left: 430px;
    top: 270px;
}
#calculator {
    left: 945px;
    top: 270px;
}

#runbuddy {
    left: 945px;
    
}
  .row2 .captions {
    position:absolute; 
    left: 430px;
   border:20px;
   background-color:aqua;
   
 }


  /* Header section styling */
  header h1 {
    display: inline-block;
    font-size: 48px;
  }


  h3 p {
    font-size: 11px;
  }
  header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  .navbar {
    font-size: 12px;
    display: inline;
  }
  .sidepanel h2{
    margin: 0 200px 0 0;
    display: inline;
    font-size:24px;
}